<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'index</title>
</head>
<body>


<h1>SIGNALEZ LES DISFONCTIONNEMENT PRES  DE CHEZ VOUS</h1>

        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Se deconnecter</a></li>
                <li><a href="{% url 'signaler' %}">Signaler un cas</a></li>
            {% else  %}
                <li><a href="{% url 'signup' %}">Créer un compte</a></li>
                <li><a href="{% url 'login' %}">Se connecter</a></li>
            {% endif %}
        </ul>


{% block HackatonFodr %}



{% endblock %}


</body>
</html>